@import '../utils/mixins.scss';

.details-container {
    @include flexbox-center-aligned;
    padding: 1rem;
    flex-wrap: wrap;
    padding-top: 5rem;
    flex-direction: column;
}

h1 {
    @include font-size(2);
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #080808;
  }
.details-title h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.details-card {
    @include font-size(2);
    @include card(400px, 600px);
}
.card-item {
    @include flexbox-center-aligned;
    justify-content: space-between;
    padding: 1rem;
}
.home-body {
    padding: 5rem;
    padding-top: 5rem;
}